@font-face {
  font-family: "iconfont"; /* Project id 4217584 */
  src: url('iconfont.woff2?t=1693304167623') format('woff2'),
       url('iconfont.woff?t=1693304167623') format('woff'),
       url('iconfont.ttf?t=1693304167623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moren:before {
  content: "\e64c";
}

.icon-chaping:before {
  content: "\e6c2";
}

.icon-haoping:before {
  content: "\e6c6";
}

.icon-zhongping:before {
  content: "\e616";
}

